/* ==========================================
   INDUSTRIES
========================================== */

#industries{
    background:#f8f9fb;
}

.industries-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.industry-card{
    background:white;
    border-radius:18px;
    padding:35px;
    text-align:center;
    transition:.35s ease;
    box-shadow:0 12px 30px rgba(0,0,0,.08);
}

.industry-card:hover{
    transform:translateY(-8px);
}

.industry-icon{
    width:75px;
    height:75px;
    margin:auto;
    margin-bottom:20px;
    border-radius:50%;
    background:#0B1F35;
    color:#D4AF37;
    display:grid;
    place-items:center;
    font-size:30px;
}

.industry-card h3{
    margin-bottom:15px;
    color:#0B1F35;
}

.industry-card p{
    color:#666;
    line-height:1.8;
}
